---
import { client as directus } from '@lib/directus';

export interface Props {
  title?: string;
  noindex?: boolean;
}

const siteSettings = await directus.singleton('settings').read();
const { title = 'Blog', noindex = false } = Astro.props as Props;
---

<head>
  <meta charset='utf-8' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  {noindex && <meta name='robots' content='noindex' />}
  <title>{`${title} | ${siteSettings?.site_title}`}</title>
  <slot />
</head>
